.each_page {
  margin-bottom: 30px;
  background-color: #f1f2f4;
  padding: 10px;
  border-radius: 4%;
}

.top_container {
  display: flex;
  border-bottom: 2px solid gainsboro;
  justify-content: space-between;
  align-items: center;
}

.box1_heading {
  color: #1877f2;
}

.contact_btn {
  background-color: #1877f2;
  color: white;
  height: 30px;
  border: none;
  border-radius: 5%;
}

.image_container {
  height: 3rem;
  width: 3rem;
}

.image_contact {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

li {
  list-style: none;
}

.list_main {
  display: flex;
  margin-bottom: 10px;
}

.sub_content {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sub_content a {
  text-decoration: none;
}

.down_section {
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.show_btn {
  background: none;
  color: #1877f2;
  border: none;
}
